/**
 * @name inlineified-buttons
 * @author axi
 * @description Brings the message action buttons back inside the message itself.
 * @version 1.0.0
 */

.container-2gUZhU {
top: 0px;
}
.wrapper-2vIMkT {
height: 24px;
background-color: #0000001f;
box-shadow: none;
}
.button-3bklZh {
height: 16px;
min-width: 16px
}
.full-motion .wrapper-2vIMkT:hover {
    box-shadow: none;
}